header
  h1 todos
  h2 hello nodeaz

section#main
  input#title(type="text", data-on-change=":add", onsubmit="return false", placeholder="")

  ul#TodoList
    li(data-each-todo=":all < .items .completed")
      span(data-text="todo:title")
